In [1]:
import pandas as pd

<div class="alert alert-block alert-info">
    1. <b>Data Gathering</b> : <a href="https://www.kaggle.com/datasets/shree1992/housedata">Click Me</a>
    <br>
    2. <b>Data Loading</b>
</div>

In [2]:
df = pd.read_csv("processed_data.csv")
df

,Date,Store ID,Product ID,Inventory Level,Demand Forecast,Price,Weather Condition,Holiday/Promotion,Competitor Pricing
0,0,0,0,231,135,33,1,0,29
1,0,0,1,204,144,63,3,0,66
2,0,0,2,102,74,27,3,1,31
3,0,0,3,469,62,32,0,1,34
4,0,0,4,166,9,73,3,0,68
...,...,...,...,...,...,...,...,...,...
73095,730,4,15,96,18,73,2,0,72
73096,730,4,16,313,48,82,0,0,83
73097,730,4,17,278,39,11,1,0,10
73098,730,4,18,374,270,53,1,0,55
73099,730,4,19,117,2,78,1,1,79

<div class="alert alert-block alert-info">
    3. <b>Data Exploration</b>
</div>

In [3]:
df.head(2)

,Date,Store ID,Product ID,Inventory Level,Demand Forecast,Price,Weather Condition,Holiday/Promotion,Competitor Pricing
0,0,0,0,231,135,33,1,0,29
1,0,0,1,204,144,63,3,0,66

In [4]:
df.tail(2)

,Date,Store ID,Product ID,Inventory Level,Demand Forecast,Price,Weather Condition,Holiday/Promotion,Competitor Pricing
73098,730,4,18,374,270,53,1,0,55
73099,730,4,19,117,2,78,1,1,79

In [5]:
df.columns

# for cols in df.columns:
#     print(cols)

Index(['Date', 'Store ID', 'Product ID', 'Inventory Level', 'Demand Forecast',
       'Price', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing'],
      dtype='object')

In [6]:
df.count()

Date                  73100
Store ID              73100
Product ID            73100
Inventory Level       73100
Demand Forecast       73100
Price                 73100
Weather Condition     73100
Holiday/Promotion     73100
Competitor Pricing    73100
dtype: int64

In [7]:
df.describe()

,Date,Store ID,Product ID,Inventory Level,Demand Forecast,Price,Weather Condition,Holiday/Promotion,Competitor Pricing
count,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000,73100.000000
mean,365.000000,2.000000,9.500000,274.469877,141.008865,54.642599,1.500575,0.497305,54.651259
std,211.022769,1.414223,5.766321,129.949514,109.243036,26.019905,1.118041,0.499996,26.192939
min,0.000000,0.000000,0.000000,50.000000,-9.000000,10.000000,0.000000,0.000000,5.000000
25%,182.000000,1.000000,4.750000,162.000000,53.000000,32.000000,1.000000,0.000000,32.000000
50%,365.000000,2.000000,9.500000,273.000000,113.000000,55.000000,2.000000,0.000000,55.000000
75%,548.000000,3.000000,14.250000,387.000000,208.000000,77.000000,3.000000,1.000000,77.000000
max,730.000000,4.000000,19.000000,500.000000,518.000000,100.000000,3.000000,1.000000,104.000000

In [8]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  int64
 1   Store ID            73100 non-null  int64
 2   Product ID          73100 non-null  int64
 3   Inventory Level     73100 non-null  int64
 4   Demand Forecast     73100 non-null  int64
 5   Price               73100 non-null  int64
 6   Weather Condition   73100 non-null  int64
 7   Holiday/Promotion   73100 non-null  int64
 8   Competitor Pricing  73100 non-null  int64
dtypes: int64(9)
memory usage: 5.0 MB

In [9]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 73100 and Number of Columns: 9

In [12]:
df['Store ID'].unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [13]:
df.nunique()

Date                  731
Store ID                5
Product ID             20
Inventory Level       451
Demand Forecast       518
Price                  91
Weather Condition       4
Holiday/Promotion       2
Competitor Pricing    100
dtype: int64

In [14]:
df.isnull().sum()

Date                  0
Store ID              0
Product ID            0
Inventory Level       0
Demand Forecast       0
Price                 0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
dtype: int64